<script src="~/Scripts/Angular/1.FirstController.js"></script>
<div ng-controller="MainController">
    {{message}}
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <img ng-src="{{user.avatar_url}}" />
            </div>
            <div class="col-md-6">
                {{user.name}}
            </div>
           
            
        </div>
    </div>
    
</div>

